/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared styles and font setup: */
*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles: */
header{
    padding-left: 200px;
    padding-right: 60px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav > ul{
    display: flex;
} 
.first-ul{
    align-items: center;
    padding-left: 5px;
}
.second-ul{
    padding-right: 70px;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav li a{
    text-decoration: none;
}
.first-container{
    background: url(../Images/Group\ 13\ \(1\)\ \(1\).png) no-repeat;
    width: 1170px;
    height: 500px;
    justify-content: center;
    align-items: center; 
    border-radius: 16px;
}
.first-text-container{
    color: #fff;
    justify-content: center;
    align-items: center;
}
.first-text-container h1{
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    padding-top: 120px; 
    font-size: 4rem;
}
.first-text-container p{
    margin-left: 35%;
    margin-bottom: 50px;
    font-size: 16px;
}
.btn-container{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    margin-left: 185px;
    margin-right: 185px;
    margin-bottom: 90px;
    height: 20%;
    padding-top: 24px;
    padding-bottom: 24px;
    gap: 24px;
    height: 50px;
    justify-content: space-evenly;
    display:flex;
    gap: 10px;  
}
.btn-container input{
    border-radius: 8px;
}
.btn-container select{
    border-radius: 8px;
}
.find-btn{
    color: #fff;
    background-color: #FF5400;
    border-radius: 8px;
}